* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html,
body {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: hsl(30, 54%, 90%);
}

main {
  margin-top: 7%;
  width: 50%;
  height: fit-content;
  padding: 2.5%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
}

img {
  max-width: 100%;
  border-radius: 13px;
}

.preparation-time {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
}

.preparation-time-list {
  padding-left: 1.5em;
}

li {
  padding: 0.5em 20px 0;
}

li::marker {
  font-size: 10px;
}

.preparation-time-list li::marker {
  color: hsl(332, 51%, 32%);
}

.ingredients-list li::marker,
.instructions-list li::marker {
  color: hsl(14, 45%, 36%);
}

.instructions-list li::marker {
  font-size: 1em;
  padding: 1.5em;
  font-weight: 600;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: hsl(24, 5%, 18%);
  padding: 0.9em 0 0;
}

h2 {
  color: hsl(14, 45%, 36%);
  padding-top: 1.2em;
}

h3 {
  color: hsl(332, 51%, 32%);
  padding-left: 10px;
  font-weight: 600;
}

.preparation-time,
.ingredients-list,
.instructions-list {
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
  padding: 1.2em;
}

p {
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
  padding: 1em 0;
}

hr {
  height: 1px;
  border: none;
  background-color: hsl(30, 18%, 87%);
  margin-top: 0.8em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

td:nth-child(odd) {
  font-size: 14px;
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
  width: 50%;
}

td:nth-child(even) {
  font-size: 14px;
  color: hsl(14, 45%, 36%);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  width: 50%;
}

tr:last-child {
  border: none;
}

tr, td {
  padding: 1em 0;
}

span {
  margin-left: 2em;
}

@media (max-width: 376px) {

  main {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  img {
    width: 100vw;
    max-width: 100vw;
    border-radius: 0;
  }
}
